API_BASE_URL=https://api.astro-bot.space
OAUTH_URL=https://discord.com/oauth2/authorize?response_type=code&client_id=715621848489918495&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fapi%2Fauth%2Fcallback&scope=identify%20email%20guilds
APPLICATION_ID=715621848489918495