API_BASE_URL=http://localhost:8080
INVITE_URL=https://discord.com/oauth2/authorize?client_id=715621848489918495&scope=bot+applications.commands&permissions=8
SUPPORT_URL=https://discord.com/invite/yeXwVhg
PREMIUM_URL=https://discord.com/application-directory/715621848489918495/premium
OAUTH_URL=https://discord.com/oauth2/authorize?response_type=code&client_id=715621848489918495&redirect_uri=http%3A%2F%2Flocalhost:8080%2Fauth-callback&scope=identify%20email%20guilds