API_BASE_URL=http://localhost:8080
INVITE_URL=https://discord.com/oauth2/authorize?client_id=715621848489918495&scope=bot+applications.commands&permissions=8
SUPPORT_URL=https://discord.com/invite/yeXwVhg
PREMIUM_URL=https://discord.com/application-directory/715621848489918495/premium