@import "./ext/fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  /* all colors are in dark mode by default, there is no light mode */
  :root {
    /* color palette */
    --purple-50: 270, 100%, 98.04%;
    --purple-400: 270, 95.24%, 75.29%;
    --purple-500: 270.74, 91.01%, 65.1%;

    --pink-500: 330.37, 81.19%, 60.39%;

    --red-400: 0, 90.6%, 70.78%;
    --red-500: 0, 84.24%, 60.2%;

    --white: 0, 0%, 100%;

    --gray-50: 0, 0%, 75.69%;
    --gray-300: 229.41, 7.11%, 53.14%;
    --gray-800: 260, 13.04%, 9.02%;
    --gray-900: 270, 11.11%, 3.53%;


    /* background for core components */
    --background: var(--gray-900);
    /* background for container components such as cards or general group of content */
    --background-container: var(--gray-800);
    /* background for interactive components such as modals, dropdowns, menus */
    --background-interactive: var(--gray-800);
    /* alternative background to contrast other background sections */
    --background-alternative: var(--gray-800);

    /* background for buttons and other clickable components such as switches or tabs */
    --background-button: var(--purple-500);

    /* background for buttons and other clicable components that need to standout more */
    --background-button-standout: linear-gradient(to right, var(--purple-500), var(--pink-500));

    /* base foreground color for text and other elements */
    --foregound: var(--white);
    /* foreground colors for text and other elements considered secondary */
    --foreground-secondary: var(--gray-300);
    /* foreground color for destructive content or errors */
    --foreground-destructive: var(--red-400);

    /* foreground color for text links */
    --foreground-link: var(--gray-300);
    --foreground-link-hover: var(--purple-50);

    /* foreground color for links that need to standout more */
    --foreground-link-standout: var(--purple-400);

    /* border color */
    --border: 220, 9.28%, 19.02%;
    /* border color for destructive components or error containers */
    --border-destructive: var(--red-500);

    /* border radius */
    --radius: 0.5rem;

    
    /*
 
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
 
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
 
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
 
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --ring: 240 4.9% 83.9%;
      */
  }
}


html, body, #__nuxt {
  @apply w-full h-full;
}

html {
  @apply bg-bg text-foreground;
  font-family:
    Inter,
    GoNotoCurrent,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    Noto Sans,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
}

body {
  @apply selection:bg-purple-500 selection:text-white;
  /* TODO: Find better pattern */
  background-color: #131313;
  background-image: radial-gradient(circle at center center, #c744f7, #e5e5f7),
    repeating-radial-gradient(
      circle at center center,
      #c144f7,
      #c744f7,
      10px,
      transparent 20px,
      transparent 10px
    );
  background-blend-mode: multiply;
}

@layer base {
  .bordered {
    @apply border border-border;
  }

  .bordered-danger {
    @apply border border-red-500 border-opacity-50;
  }
}

@layer components {
  .text-secondary {
    @apply text-grey-300;
  }

  .text-danger {
    @apply text-red-400 text-opacity-80;
  }

  .text-title {
    @apply text-4xl font-medium tracking-wide font-display text-center;
  }

  .text-subtitle {
    @apply text-xl font-medium tracking-wide text-center text-grey-300;
  }

  .button-text {
    @apply p-1 transition text-grey-300 hover:text-purple-50 flex-shrink-0 cursor-pointer;
  }

  .button-text-primary {
    @apply p-1 transition text-grey-50 hover:text-purple-50 flex-shrink-0 cursor-pointer;
  }

  .button-text-danger {
    @apply text-red-400 text-opacity-75 cursor-pointer hover:text-opacity-100;
  }
  
  .button {
    @apply text-white w-fit transition duration-75 truncate flex items-center justify-center gap-2 flex-shrink-0 rounded relative bg-purple-500 bg-opacity-80 hover:bg-opacity-100 focus:bg-opacity-100 py-1.5 px-4;
  }

  .button-primary {
    @apply text-white flex items-center justify-center rounded-md bg-gradient-to-r from-purple-500 to-pink-500 px-5 py-2 transition-all duration-150 hover:opacity-80;
  }

  .button-secondary {
    @apply p-1 transition text-grey-300 hover:text-purple-50 flex-shrink-0 cursor-pointer bg-grey-800 hover:bg-background border-box-border hover:border-grey-400 disabled:hover:cursor-not-allowed;
  }

  .button-primary-bordered {
    @apply text-white border border-transparent flex items-center justify-center rounded-md bg-gradient-to-r from-purple-500 to-pink-500 px-5 py-2 transition-all duration-150 hover:opacity-90 hover:border-white;
  }

  .group {
    @apply border-box-border bg-grey-800 rounded-md px-3 py-3;
  }

  .menu {
    @apply border border-light-grey rounded-md shadow-lg mt-2 bg-grey-800 min-w-full;
  }

  .menu-item {
    @apply px-3 py-2 transition ease-in-out cursor-pointer text-white text-opacity-80 hover:text-white hover:bg-background;
  }

  .menu-item-first {
    @apply rounded-t-md;
  }

  .menu-item-last {
    @apply rounded-b-md;
  }

  .tab {
    @apply border-box-border px-2 py-1 rounded;
  }

  .danger {
    @apply text-red-400 hover:text-red-500;
  }

  a {
    @apply transition text-grey-300 hover:text-purple-50 flex-shrink-0 cursor-pointer;
  }

  input {
    @apply rounded h-9 bg-grey-900 border-box-border placeholder-grey-400 px-2.5 py-1 outline-none focus-visible:border-pink-500 focus-visible:border-opacity-80 disabled:cursor-not-allowed disabled:border-opacity-40 disabled:placeholder-opacity-60 disabled:opacity-80;
  }
}

/* ANIMATIONS */
.backlit-box {
  position: relative;
}
.backlit-box * {
  z-index: 4;
}

.backlit-box::before {
  /*noinspection CssUnresolvedCustomProperty*/
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    /* #A855F799, */
    #ec489a99,
    transparent 30%
  );
  border-radius: inherit;
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  opacity: 0;
  transition: opacity 500ms;
}

.backlit-box:hover::before {
    opacity: 1;
}

html, body, #__nuxt {
  @apply w-full h-full;
}