@import "./ext/fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 212.7 26.8% 83.9%;
  }
}

html {
  @apply bg-gray-950 text-white;
  font-family:
    Inter,
    GoNotoCurrent,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    Noto Sans,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
}

body {
  @apply selection:bg-purple-500 selection:text-white;
  background-color: #131313;
  background-image: radial-gradient(circle at center center, #c744f7, #e5e5f7),
    repeating-radial-gradient(
      circle at center center,
      #c144f7,
      #c744f7,
      10px,
      transparent 20px,
      transparent 10px
    );
  background-blend-mode: multiply;
}

@layer base {
  .border-box-border {
    @apply border border-light-grey;
  }

  .border-box-border-danger {
    @apply border border-red-500 border-opacity-50;
  }
}

@layer components {
  .text-secondary {
    @apply text-grey-300;
  }

  .text-danger {
    @apply text-red-400 text-opacity-80;
  }

  .button-text {
    @apply p-1 transition text-grey-300 hover:text-purple-50 flex-shrink-0 cursor-pointer;
  }

  .button-text-primary {
    @apply p-1 transition text-grey-50 hover:text-purple-50 flex-shrink-0 cursor-pointer;
  }

  .button-text-danger {
    @apply text-red-400 text-opacity-75;
  }
  
  .button {
    @apply text-white w-fit transition duration-75 truncate flex items-center justify-center gap-2 flex-shrink-0 rounded relative bg-purple-500 bg-opacity-80 hover:bg-opacity-100 focus:bg-opacity-100 py-1.5 px-4;
  }

  .button-primary {
    @apply text-white flex items-center justify-center rounded-md bg-gradient-to-r from-purple-500 to-pink-500 px-5 py-2 transition-all duration-150 hover:opacity-90;
  }

  .group {
    @apply border-box-border bg-grey-800 rounded-md px-3 py-3;
  }

  .menu {
    @apply border border-light-grey rounded-md shadow-lg mt-2 bg-grey-800 min-w-full;
  }

  .menu-item {
    @apply px-3 py-2 transition ease-in-out cursor-pointer text-white text-opacity-80 hover:text-white hover:bg-background;
  }

  .menu-item-first {
    @apply rounded-t-md;
  }

  .menu-item-last {
    @apply rounded-b-md;
  }

  .danger {
    @apply text-red-400 hover:text-red-500;
  }

  a {
    @apply transition text-grey-300 hover:text-purple-50 flex-shrink-0 cursor-pointer;
  }

  input {
    @apply rounded h-9 bg-grey-900 border-box-border placeholder-grey-400 px-2.5 py-1 outline-none focus-visible:border-pink-500 focus-visible:border-opacity-80 disabled:cursor-not-allowed disabled:border-opacity-40 disabled:placeholder-opacity-60 disabled:opacity-80;
  }
}

.backlit-box::before {
  /*noinspection CssUnresolvedCustomProperty*/
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    /* #A855F799, */
    #ec489a99,
    transparent 30%
  );
  border-radius: inherit;
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  opacity: 0;
  transition: opacity 500ms;
}

.backlit-box:hover::before {
    opacity: 1;
}