API_BASE_URL=https://staging-api.astro-bot.space

# discord oauth urls
# make sure to replace the client_id and redirect_uri appropriately
# for the INVITE_GUILD_OAUTH_URL, replace {GUILD_ID} with the guild id you want to invite the bot to during runtime
#
# client ids:
# 715621848489918495 - production
# 702058598309822494 - staging
# 788708323867885568 - dev
LOGIN_OAUTH_URL=https://discord.com/oauth2/authorize?response_type=code&client_id=702058598309822494&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fapi%2Fauth%2Fcallback&scope=identify%20email%20guilds
INVITE_OAUTH_URL=https://discord.com/oauth2/authorize?client_id=702058598309822494&scope=bot+applications.commands&permissions=8&response_type=code&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fapi%2Fauth%2Fcallback
INVITE_GUILD_OAUTH_URL=https://discord.com/oauth2/authorize?client_id=702058598309822494&scope=bot+applications.commands&permissions=8&response_type=code&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fapi%2Fauth%2Fcallback&guild_id={GUILD_ID}&disable_guild_select=true

NUXT_SESSION_PASSWORD=cookies-password
